[submodule "flocking"]
	path = flocking
	url = https://github.com/adunofaiur/bouncingballs
[submodule "app/flockingDemo"]
	path = app/flockingDemo
	url = https://github.com/adunofaiur/bouncingballs
[submodule "bouncingBalls"]
	path = bouncingBalls
	url = https://github.com/adunofaiur/bouncingBalls
