<configuration>
    <system.webServer>

        <handlers>
            <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
            <remove fileExtension=".json" />

	
			<mimeMap fileExtension=".json" mimeType="application/json" />


        </handlers>
        </system.webServer>

</configuration>