/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
.divider{
  border-bottom: 1px #253D5B solid;
  padding-bottom: 1em;
}
.breakafter{
  -webkit-margin-before: -0.83em;

  -webkit-margin-after: 1.4em;

}
.minorLabel{
  color:#67697C;
}
.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.viewContainer{
  max-width: 800px;
  margin-left: 48px;
}

.secondaryText{
  color: #B27980;

}
.bigLink{
  color: #8C8E60;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  display: block;

}
body{
  color: #5A5A5A;
  background-color: #f8f6f5;
}
h1{
  color: #67697C;
  font-family: 'Work Sans', sans-serif;

}
h2{
  color: #67697C;
  font-family: 'Work Sans', sans-serif;

}
h3{
  color: #67697C;
  font-family: 'Work Sans', sans-serif;

  -webkit-margin-after: .83em;
}
